body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    color: black;
    transition: 0.3s;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}

.project, .job {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.project:hover, .job:hover {
    transform: scale(1.05);
}
